.question__container {
    border: 2px solid rgba(191, 191, 191, 0.7);
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-child {
        border-bottom: 2px solid rgba(191, 191, 191, 0.7);
    }
}
