* {
    color: #232629;
}

.answer__container {
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 20px;
    margin-top: 30px;
    border: 1px none hsl(210, 8%, 90%);
    border-bottom-style: solid;

    .vote__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            cursor: pointer;
        }
    }

    .author__container {
    }

    .date__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 400;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;

        span {
            color: #f2740d;
        }
    }

    .text__container {
        font-weight: 400;
    }

    .img__container {
        padding-bottom: 30px;
    }
}
