<div class="navbar__container">
    <img src="../../../assets/logo.png" height="30" width="150" alt="logo" />

    <nav>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>

            <li>
                <a routerLink="/questions">Questions</a>
            </li>

            <li>
                <a routerLink="/tags">Tags</a>
            </li>

            <li>
                <a routerLink="/users">Users</a>
            </li>
        </ul>
    </nav>

    <div>
        <p>Hello, <span>User!</span></p>
    </div>
</div>
