<!--suppress TypeScriptValidateTypes -->
<div class="container">
	<div class="form__container">
		<form [formGroup]="form">
			<div class="form__container">
				<app-text-input
						[formControl]="this.form.controls['title']"
						[label]="'Text Search'"
						[placeholder]="'Search by title'"
				></app-text-input>

				<app-text-input
						[formControl]="this.form.controls['authorUsername']"
						[label]="'Author'"
						[placeholder]="'Search by an author'"
				></app-text-input>

				<app-text-input
						[formControl]="this.form.controls['tag']"
						[label]="'Tag'"
						[placeholder]="'Search by a tag'"
				></app-text-input>

				<button (click)="filterQuestions()">Apply Filters</button>
			</div>
		</form>
	</div>

	<div class="content">
		<div class="header">
			<h1>All Questions</h1>
			<div class="btn-ask-question__container">
				<button routerLink="post-question">Ask Question</button>
			</div>
			<p>
				<span style="margin-right: 5px;">{{totalNumberOfQuestions}}</span>
				Questions Found
			</p>
			<h6>Newest questions first!</h6>
		</div>

		<div *ngIf="!isLoading">
			<div *ngFor="let question of questions" class="card">
				<app-question-card [question]="question"></app-question-card>
			</div>
		</div>

		<div *ngIf="isLoading">
			Loading..
		</div>

		<div class="page-no__container" *ngIf="questions.length > 0">
			<button
					(click)="changePage(currentPage - 1)"
					*ngIf="currentPage > 1"
			>
				{{ currentPage - 1 }}
			</button>
			<button class="current__page">
				{{ currentPage }}
			</button>
			<button
					*ngIf="totalNumberOfQuestions > pageSize * currentPage"
					(click)="changePage(currentPage + 1)"
			>
				{{ currentPage + 1 }}
			</button>
		</div>
	</div>

	<div class="details">
		<h2>Personal Project</h2>
		<p>Here you will find the answer to every question</p>
	</div>
</div>
