.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-left: auto;
    margin-right: auto;

    .form__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        form {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0 !important;
            width: 300px;
            align-items: center;
            border: none !important;
            padding: 30px 0;

            &:hover {
                box-shadow: none !important;
            }

            .form__container {
                display: grid;
                grid-template-columns: 1fr;

                small {
                    color: red;
                    user-select: none;
                }

                label {
                    cursor: pointer;
                    user-select: none;
                    margin-bottom: 7px;
                    font-size: 1.2rem;
                }

                input {
                    height: 35px;
                    border-radius: 0.5rem;
                    border: 2px solid #d3d3d3;
                    outline: none;
                    padding: 0 8px;
                    width: 200px;
                    font-size: 1.2rem;
                    font-weight: 200;

                    &:focus {
                        border: 2px solid #f2740d;
                    }
                }

                .label-and-input__container {
                    display: flex;
                    flex-direction: column;
                    margin: 15px 0;
                }

                button {
                    width: 50%;
                    height: 35px;
                    background-color: #f2740d;
                    color: white;
                    border: 1px solid #f2740d;
                    border-radius: 0.5rem;
                    margin-top: 20px;
                    font-size: 1rem;
                    cursor: pointer;

                    &:hover {
                        background-color: white;
                        color: #f2740d;
                    }
                }

                input.ng-invalid.ng-touched {
                    border: 2px solid red !important;
                }

                p {
                    margin-top: 20px;

                    a {
                        color: #f2740d;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .content {
        .header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 0 20px;
            row-gap: 20px;
            border: 2px solid #d3d3d3;
            padding-top: 20px;
            border-top: none;
            padding-bottom: 20px;

            h1 {
                color: #232629;
                font-size: 27px;
            }

            p {
                color: #232629;
                font-size: 17px;
                font-weight: 500;

                span {
                    color: #f2740d;
                    font-weight: bold;
                }
            }

            h6 {
                font-size: 17px;
                color: #232629;
                justify-self: end;
                font-weight: 500;
            }

            .btn-ask-question__container {
                button {
                    width: 50%;
                    height: 35px;
                    background-color: #f2740d;
                    color: white;
                    border: 1px solid #f2740d;
                    border-radius: 0.2rem;
                    font-size: 1rem;
                    cursor: pointer;
                    float: right;

                    &:hover {
                        background-color: white;
                        color: #f2740d;
                    }
                }
            }
        }

        .card {
            border: 2px solid #d3d3d3;
            padding-top: 20px;
            padding-bottom: 10px;
            border-top: none;
        }

        .page-no__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;

            button {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: white;
                color: #f2740d;
                border: 1px solid #f2740d;
                outline: none;
                cursor: pointer;

                &.current__page {
                    background-color: #f2740d;
                    color: white;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }

    .details {
        padding-top: 20px;
        margin: 0 auto;
    }
}
